* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/*body {*/
/*font-family: system-ui, Arial, sans-serif;
    /*font-size: 05px;
    /*line-height: 05px; /*espacio entre lineas*/


/*encabezado*/

.caja1 img {
    width: 150px;
}

header {
    display: flex;
    align-self: center;
    justify-content: center;
    /*centrar justificado*/

}

.caja3 {
    align-self: center;
}

/*Banner*/

.carousel-item {
    max-height: 250px;
}

.carousel-item img {
    height: 250px;
}

.banner .row .col-5 {
    padding-left: 50px;
    /*Darle espacio lado izquierdo de texto*/
    background-image: url(../Image-Destinos/carpa.jpg);
    color: white;
}

.banner .row .col-5 img {
    height: 250px;
}

/* Efecto hover */


img .Imagen2 {
    height: 168px;
    width: 250px;
}



/*Contenido*/

.card iframe {
    border-radius: 04px;
    /* Redondeo uniforme de 15px en todas las esquinas */
}

.col-md-5 img {
    width: 386px;
    height: 180px;
}





/*Pie pagina*/




figure img {
    width: 100px;
}

figcaption {
    color: white;
}

.col-4 h5 {
    color: aliceblue;
    /* h5 blanco*/
}

ul {
    color: white;
    /* blanco */

    list-style-type: none;
    /* elimina viñetas*/
    /* O simplemente list-style: none;
    /*padding: 0; /* Opcional: elimina el espacio de relleno predeterminado */
    /*margin: 0; /* Opcional: elimina el margen predeterminado */
}

hr {
    height: 2px;
    /* Ajusta el grosor */
    background-color: gray;
    /* Cambia el color */
    border: none;
    /* Elimina el borde predeterminado */
}

footer section {
    color: white;
    /* Cambia el color al que prefieras */
    text-align: center;
}