.form-body {
    background-image: url(../Image-Destinos/vuelo.jpg);
    height: 350px;
    padding-top: 20px;
    /* Espaciado superior de 20 píxeles */
    padding-left: 20px;
}

.form-title {
    color: white;
    font-weight: bold;
}

.form-body p {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.col-md-5 {
    align-content: center;
}

.col-md-5 h5 {
    align-self: center;
    padding-left: 20%;
}

.col-md-5 p {
    align-self: center;
    padding-left: 20%;
}

.col-md-5 form {
    align-self: center;
    padding-left: 20%;
}