* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

/*Encabezado*/


header{
    background-color:white;
    display: flex;
         
}


.caja1 img{
    display: flex;    
    gap: 100px;
    height: 100%;
    align-self: center;
    justify-content: space-between;   
}

.caja2 nav{
    display: flex;
    /*display: inline-block;*/
    justify-content: space-between;
    align-items: center;   
}

.row{
    display: flex;
}

ul {    
    list-style: none; /*elimina los puntos de la lista*/
    display: flex;
    /*display: inline-block;*/   
    text-align: center;/*centrar el contenido del <ul>*/       
}

nav ul{
    padding: 0;
}

li{
    /*display:inline-block;*/
    margin: 0 10px; /* Espaciado entre los elementos */     
}

nav ul li a {
    text-decoration: none; 
    color: #8C8D87;    
}

img{    
    width: 100px;
}

.btn-inicia{
    border: none;
    border-radius: 5px;/*bordes redondeados*/
    background: #0E6DFD;
    color: white;
          
}

/*Banner*/

.container-banner{    
    height: 350px;
    display: flex;
    align-items: center;  
    background-image: url(../Image-Destinos/banner1.jpg);
    background-size:cover;
    justify-content:space-around;      
}

#caja-banner{
    color: white;
    display: flex;
    display: list-item;   
}

.Imagen2{
    opacity: 0;
    width: 600px;
    height: 350px;         
}

.container-banner:hover .Imagen2{
    opacity: 1;
}


/*Main-Contenido*/

.continentes{
    display:block;
}

h1{
    display: block;
    text-align: center;
}

.articulos{
   display: flex;      
}














/*Pie de pagina*/

footer{    
    background-color: #212429;
    color: white;
    text-align: center;
}



hr{
    border-color: #AAADB2;  
}

h5{
    margin: 0;
}

figure{
    height: 200px;
    margin: 0;
}



.caja5 .lista-pie-pagina li{
    padding: 0;
    margin: 0;
    display: block;
   
}



