* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

/*Encabezado*/
header{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;       
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

nav{
    display: inline-block;
}

ul {    
    list-style: none; /*elimina los puntos de la lista*/
    text-align: center;/*centrar el contenido del <ul>*/   
}

li{
    display:inline-block;
    margin: 0 20px; /* Espaciado entre los elementos */   
}

a{
     text-decoration: none;
     color: #8C8D87;    
}

img{
    width: 150px;
}

.boton-accion{
    border: none;
    border-radius: 5px;/*bordes redondeados*/
    background: #0E6DFD;
    color: white;
    padding-inline: 25px;
    padding-block: 10px;
    font-weight: bold;
    margin: 0 20px;   
}

/*Main-Contenido*/

.caja5{
    background-color: #212429;
    color: white;
    width: 100%;
    display: flex;
}

figure{
    margin: 0;
}

.caja{
  display: block;
  height: 250px;
 
}

.lista-pie-pagina{
    padding: 0;
    margin: 0;
}

.lista-pie-pagina li{
    display: block;
    padding: 0;
    text-align: left;
    margin: 0;
    
}

#caja1{
    background-color: #0E6DFD;

}

#caja2{
    background-color: chocolate;
    width: 100px;
}

#caja3{
    background-color: brown;
     width: 100px;
}

h5{
    margin: 0;
}





/*Pie de pagina*/

footer{
    background-color: #212429;
    color: white;
    text-align: center;  
}


figure{
    height: 200px;
}

hr{
    border-color: #AAADB2;
  
}

#caja3{
    align-self: end;
   
   
   
}




